extends layout

block content
	h1 TODO LIST

	form(action='/todolist', method='POST')
		input(
			type='text'
			name='todo'
		)
		input(
			type='submit'
		)
	ol
		each todo in todos
			li= todo.todo
				button(
					class='updateBtn'
					id=`${todo._id}`
					type='submit'
				) done
				button(
					id=`${todo._id}`
					class='deleteBtn'
					type='submit'
				) delete
